.socket-widget {
  position: fixed;
  bottom: 0px;
  right: 5%;
  width: 340px;
  min-width: 340px;
  height: 500px;
  max-height: 95%;
  min-height: 300px;
  border-radius: 10px 25px 0px 0px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.35);
  transition: max-height 0.4s;

  &.close {
    max-height: 40px;
    min-height: 5%;
    overflow: hidden;
    transition: 0.4s;
  }

  .widget-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-closeButton {
      position: absolute;
      left: -40px;
      top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      border: 1.5px solid #000;
      cursor: pointer;
    }

    &-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 70px;
      border-radius: 10px 25px 0px 0px;
      background-color: #404664;
      cursor: pointer;
      color: #fff;
      padding-left: 15px;
      user-select: none;

      &.open {
        cursor: move;
      }

      &__title {
        padding: 10px 5px 0px 0px;
        font-size: 15px;
        font-family: "MM", sans-serif;
      }

      &__desc {
        padding: 2px 0px 10px 0px;
        font-size: 13px;
        font-family: "ML", sans-serif;
        transition: opacity 0.4s;

        &.close {
          opacity: 0;
        }

        &.open {
          opacity: 1;
        }
      }
    }

    &-body {
      flex: 1 0 0;
      padding: 10px 15px 10px 15px;
      overflow-y: scroll;
      scroll-behavior: smooth;

      &-messageStory {
        display: flex;
        flex-direction: column;

        &-content {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          &.fromYou {
            justify-content: end;
          }
        }

        &-avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          font-size: 10px;
          background-color: #ccc;
          margin-right: 10px;
        }

        &-message {
          display: flex;
          flex-direction: column;
          align-items: end;
          padding: 10px;
          border-radius: 10px;
          background-color: #f1f0f0;

          &.fromYou {
            background-color: #18c139;
          }

          &__text {
            width: 100%;
            font-size: 15px;
            font-family: Arial,sans-serif;
            line-height: inherit;
            vertical-align: middle;

            &.fromUser {
              color: #222d38;
            }

            &.fromYou {
              color: #fff;
            }
          }

          &__time {
            width: min-content;
            font-size: 12px;
            padding-left: 5px;

            &.fromUser {
              color: #9d9e9f;
            }

            &.fromYou {
              color: #fff9;
            }
          }
        }
      }
    }

    &-sendField {
      position: relative;
      height: 110px;
      border-top: 1px solid rgba(0, 0, 0, 0.2);

      &-messageArea {
        font-size: 15px;
        word-wrap: break-word !important;
        border: none !important;
        border-radius: 0 !important;
        box-sizing: border-box !important;
        display: block !important;
        float: none !important;
        font-family: Arial,sans-serif;
        height: auto;
        line-height: 20px !important;
        max-height: 90px !important;
        min-height: 40px !important;
        outline: none !important;
        overflow: hidden !important;
        overflow-y: hidden !important;
        padding: 18px 58px 0 16px !important;
        resize: none !important;
        scrollbar-width: thin !important;
        -webkit-user-select: text !important;
        -moz-user-select: text !important;
        -ms-user-select: text !important;
        user-select: text !important;
        white-space: pre-wrap !important;
        width: 336px !important;
        z-index: 2;

        &[placeholder] {
          font-family: "MR", sans-serif;
        }
      }

      &-sendButton {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        outline: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border: none;
        background-color: greenyellow;
        cursor: pointer;
      }
    }
  }
}
